In [1]:
import pandas as pd
import numpy as np
#!pip install psycopg2

In [2]:
# Extracting the 2 data downloaded from kaggle.Com named X and y
X = pd.read_csv('./Data_sources/cardekho.csv') 
y = pd.read_csv('./Data_sources/imdb_data.csv')

In [3]:
X.shape, y.shape

((8128, 12), (3348, 12))

In [4]:
# concating the two data extracted from the source
df = pd.concat([X,y], axis = 1)

In [5]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,...,originalTitle,isAdult,runtimeMinutes,genres,averageRating,numVotes,budget,gross,release_date,directors
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,...,Kate & Leopold,0.0,118.0,"Comedy,Fantasy,Romance",6.4,87925.0,48000000.0,76019048.0,"December 11, 2001",James Mangold
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,...,The AristoCats,0.0,78.0,"Adventure,Animation,Comedy",7.1,111758.0,4000000.0,35459543.0,"December 11, 1970",Wolfgang Reitherman
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,...,Kelly's Heroes,0.0,144.0,"Adventure,Comedy,War",7.6,52628.0,4000000.0,5200000.0,"January 1, 1970",Brian G. Hutton
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,...,M*A*S*H,0.0,116.0,"Comedy,Drama,War",7.4,75784.0,3500000.0,81600000.0,"January 25, 1970",Robert Altman
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,...,Patton,0.0,172.0,"Biography,Drama,War",7.9,106476.0,12000000.0,61749765.0,"February 4, 1970",Franklin J. Schaffner

In [6]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner', 'mileage(km/ltr/kg)', 'engine', 'max_power',
       'seats', 'id', 'primaryTitle', 'originalTitle', 'isAdult',
       'runtimeMinutes', 'genres', 'averageRating', 'numVotes', 'budget',
       'gross', 'release_date', 'directors'],
      dtype='object')

In [7]:
df.isnull()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,...,originalTitle,isAdult,runtimeMinutes,genres,averageRating,numVotes,budget,gross,release_date,directors
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
8124,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
8125,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
8126,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
8127,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [8]:
df.isnull().sum()

name                     0
year                     0
selling_price            0
km_driven                0
fuel                     0
seller_type              0
transmission             0
owner                    0
mileage(km/ltr/kg)     221
engine                 221
max_power              215
seats                  221
id                    4780
primaryTitle          4780
originalTitle         4780
isAdult               4780
runtimeMinutes        4780
genres                4780
averageRating         4780
numVotes              4780
budget                4780
gross                 4831
release_date          4785
directors             4780
dtype: int64

In [9]:
df.dropna(inplace=True)

In [10]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,...,originalTitle,isAdult,runtimeMinutes,genres,averageRating,numVotes,budget,gross,release_date,directors
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,...,Kate & Leopold,0.0,118.0,"Comedy,Fantasy,Romance",6.4,87925.0,48000000.0,76019048.0,"December 11, 2001",James Mangold
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,...,The AristoCats,0.0,78.0,"Adventure,Animation,Comedy",7.1,111758.0,4000000.0,35459543.0,"December 11, 1970",Wolfgang Reitherman
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,...,Kelly's Heroes,0.0,144.0,"Adventure,Comedy,War",7.6,52628.0,4000000.0,5200000.0,"January 1, 1970",Brian G. Hutton
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,...,M*A*S*H,0.0,116.0,"Comedy,Drama,War",7.4,75784.0,3500000.0,81600000.0,"January 25, 1970",Robert Altman
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,...,Patton,0.0,172.0,"Biography,Drama,War",7.9,106476.0,12000000.0,61749765.0,"February 4, 1970",Franklin J. Schaffner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3343,Mahindra Bolero SLX,2007,245000,110000,Diesel,Individual,Manual,Third Owner,13.60,2523.0,...,Nomadland,0.0,107.0,Drama,7.3,175977.0,5000000.0,39458207.0,"September 11, 2020",Chloé Zhao
3344,Ford Fiesta Classic 1.4 Duratorq CLXI,2012,340000,120000,Diesel,Individual,Manual,Third Owner,17.80,1399.0,...,The Tomorrow War,0.0,138.0,"Action,Adventure,Drama",6.6,220617.0,200000000.0,14400000.0,"June 30, 2021",Chris McKay
3345,Maruti Wagon R LXI,2008,221000,35008,Petrol,Dealer,Manual,First Owner,21.79,998.0,...,Judas and the Black Messiah,0.0,126.0,"Biography,Drama,History",7.4,88568.0,26000000.0,7478009.0,"February 1, 2021",Shaka King
3346,Datsun RediGO T,2017,270000,31100,Petrol,Dealer,Manual,First Owner,22.70,799.0,...,Escape Room: Tournament of Champions,0.0,88.0,"Action,Adventure,Horror",5.7,56955.0,15000000.0,65774490.0,"July 1, 2021",Adam Robitel
3347,Hyundai Xcent 1.1 CRDi Base,2014,455000,42312,Diesel,Dealer,Manual,First Owner,24.40,1120.0,...,I Care a Lot,0.0,118.0,"Comedy,Crime,Drama",6.4,141433.0,14000000.0,1351662.0,"September 12, 2020",J Blakeson

In [11]:
df.isnull().sum()

name                  0
year                  0
selling_price         0
km_driven             0
fuel                  0
seller_type           0
transmission          0
owner                 0
mileage(km/ltr/kg)    0
engine                0
max_power             0
seats                 0
id                    0
primaryTitle          0
originalTitle         0
isAdult               0
runtimeMinutes        0
genres                0
averageRating         0
numVotes              0
budget                0
gross                 0
release_date          0
directors             0
dtype: int64

In [12]:
df.dtypes

name                   object
year                    int64
selling_price           int64
km_driven               int64
fuel                   object
seller_type            object
transmission           object
owner                  object
mileage(km/ltr/kg)    float64
engine                float64
max_power              object
seats                 float64
id                     object
primaryTitle           object
originalTitle          object
isAdult               float64
runtimeMinutes        float64
genres                 object
averageRating         float64
numVotes              float64
budget                float64
gross                 float64
release_date           object
directors              object
dtype: object

In [13]:
import psycopg2

# Replace with your database details
db_params = {
    'dbname': 'ClassProject',
    'user': 'postgres',
    'password': 'lawone',
    'host': 'localhost',  # Change if your database is hosted elsewhere
    'port': 5432  # Default PostgreSQL port
}

conn = psycopg2.connect(**db_params)

In [14]:
import psycopg2
import sqlalchemy
import pandas as pd

# Create an SQLAlchemy engine
conn = sqlalchemy.create_engine(f"postgresql+psycopg2://postgres:lawone@localhost:5432/ClassProject")


# table_name = 'table_name'.

In [15]:
query = "SELECT COUNT(*) FROM carprices"

# Read data from the database using pandas
pd.read_sql(query, conn)

   count
0   3190

In [16]:
table_name = 'carprices'  
df.to_sql(table_name, conn, if_exists='replace', index=False)

190

In [17]:
df.to_csv('./Data_sources/CleanData.csv', index_label=False)

In [18]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,...,originalTitle,isAdult,runtimeMinutes,genres,averageRating,numVotes,budget,gross,release_date,directors
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,...,Kate & Leopold,0.0,118.0,"Comedy,Fantasy,Romance",6.4,87925.0,48000000.0,76019048.0,"December 11, 2001",James Mangold
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,...,The AristoCats,0.0,78.0,"Adventure,Animation,Comedy",7.1,111758.0,4000000.0,35459543.0,"December 11, 1970",Wolfgang Reitherman
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,...,Kelly's Heroes,0.0,144.0,"Adventure,Comedy,War",7.6,52628.0,4000000.0,5200000.0,"January 1, 1970",Brian G. Hutton
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,...,M*A*S*H,0.0,116.0,"Comedy,Drama,War",7.4,75784.0,3500000.0,81600000.0,"January 25, 1970",Robert Altman
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,...,Patton,0.0,172.0,"Biography,Drama,War",7.9,106476.0,12000000.0,61749765.0,"February 4, 1970",Franklin J. Schaffner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3343,Mahindra Bolero SLX,2007,245000,110000,Diesel,Individual,Manual,Third Owner,13.60,2523.0,...,Nomadland,0.0,107.0,Drama,7.3,175977.0,5000000.0,39458207.0,"September 11, 2020",Chloé Zhao
3344,Ford Fiesta Classic 1.4 Duratorq CLXI,2012,340000,120000,Diesel,Individual,Manual,Third Owner,17.80,1399.0,...,The Tomorrow War,0.0,138.0,"Action,Adventure,Drama",6.6,220617.0,200000000.0,14400000.0,"June 30, 2021",Chris McKay
3345,Maruti Wagon R LXI,2008,221000,35008,Petrol,Dealer,Manual,First Owner,21.79,998.0,...,Judas and the Black Messiah,0.0,126.0,"Biography,Drama,History",7.4,88568.0,26000000.0,7478009.0,"February 1, 2021",Shaka King
3346,Datsun RediGO T,2017,270000,31100,Petrol,Dealer,Manual,First Owner,22.70,799.0,...,Escape Room: Tournament of Champions,0.0,88.0,"Action,Adventure,Horror",5.7,56955.0,15000000.0,65774490.0,"July 1, 2021",Adam Robitel
3347,Hyundai Xcent 1.1 CRDi Base,2014,455000,42312,Diesel,Dealer,Manual,First Owner,24.40,1120.0,...,I Care a Lot,0.0,118.0,"Comedy,Crime,Drama",6.4,141433.0,14000000.0,1351662.0,"September 12, 2020",J Blakeson